<div class="top">
  <h1 class="top-headline">ようこそBookersへ！</h1>
    <div class="top-box">
	  <p class="top-text">
	  	  <span>Bookers</span>では、さまざまな書籍に関するあなたの意見や<br>
		  印象を共有し交換することができます
	  </p>
	  <a href="books">start</a>
  </div>
</div>