/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content:"";
	display: block;
	clear: both;
}

body{
	color: #333;
	font-size: 13px;
	font-family: verdana, arial, helvetica, sans-serif;
	margin: 33px;
}

.flash {
	margin: 33px;
}

.error-message {
	width: 450px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 0;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

.error-message h2 {
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	background-color: #c00;
	color: #fff;
	margin: -7px;
	margin-bottom: 0;
}

.error-message ul {
	margin: 33px;
}

.field_with_errors {
	background-color: red;
	padding: 2px;
	display: table;
}


a {
	color: #333;
}

a:visited {
	color: #666;
}

.field {
	margin-bottom: 10px;
}

.action {
	margin-bottom: 10px;
}

.flash {
	color: green;
}

label{
	display: block;
}

 /*top用CSS*/
 .top-headline {
 	font-weight: bold;
 }

 .top-box {
 	margin-left: 30px;
 }

 .top-text {
 	line-height: 60px;
 }

 .top-box a {
 	line-height: 50px;
 }

 /*index用CSS*/
 .index h1 {
 	margin-bottom: 20px;
 }

.indes th {
	padding-bottom: 5px;
}

.index td {
	padding-bottom: 7px;
	padding-left: 5px;
	padding-right: 5px;
}

.index h2 {
	margin-bottom: 20px;
}


/*show用CSS*/
.show p {
	font-size: 13px;
	margin: 33px;
}

/*edit用のCSS*/
.edit h1 {
	margin-bottom: 20px;
}

